---
layout: default
title: Josh Finnie dot com
---
{% for post in site.posts limit:1 %}
<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <small>written: {{ post.date | date: "%B" }} {{ post.date | date: "%e" }}, {{ post.date | date: "%Y" }}</small></h2>
<span>{{ post.content }}</span>
{% endfor %}
<h2>Other Posts:</h2>
<ul class="posts">
{% for post in site.posts offset:1 %}
<li>{{ post.date | date: "%B" }} {{ post.date | date: "%e" }}, {{ post.date | date: "%Y" }} &#149; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
